.slider {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 415px;
	position: relative;
	overflow: hidden;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
        object-position: center;
        left: 0%;
        transition:left 500ms linear;
        border-radius: 25px;
    }
}

.Descr{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-column-gap: 25px;
    grid-row-gap: 1px;

    &__Person{
        text-align: right;
        img{
            clip-path: circle(60px at center);
        }
    }

    &__Rating{
        text-align: right;
    }

    &__Tags{
        margin: 0;
        display: flex;
        gap: 15px;
        padding-left: 0;
        span {
            border-radius: 10px;
            background-color: #FF6060;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: center;
            color: white;
            padding: 5px 15px 5px 15px;
        }
    }

    &__Equipement{

    }
}