.slider_bloc {
  width: 100%;
  max-height: 415px;
  min-height: 415px;
}
@media (max-width: 767.98px) {
  .slider_bloc {
    max-height: 255px;
    min-height: 255px;
  }
}

.Descr {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 0;
  height: 100%;
}
@media (max-width: 767.98px) {
  .Descr {
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 50% 50%;
  }
}
.Descr__Rating {
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-column-end: 5;
  padding-top: 10px;
  margin-left: auto;
}
@media (max-width: 767.98px) {
  .Descr__Rating {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 2;
    width: 100%;
  }
}
.Descr__Tags {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 3;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  display: flex;
  gap: 15px;
  padding-left: 0;
  margin-bottom: 25px;
}
@media (max-width: 767.98px) {
  .Descr__Tags {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3;
    margin-bottom: 5px;
  }
}
.Descr__Tags span {
  border-radius: 10px;
  background-color: #FF6060;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  padding: 5px 15px 5px 15px;
}
@media (max-width: 767.98px) {
  .Descr__Tags span {
    padding: 2px 15px 2px 15px;
  }
}
.Descr__Titre {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 4;
  letter-spacing: 0em;
  font-family: Montserrat;
  color: #FF6060;
  text-align: left;
}
@media (max-width: 767.98px) {
  .Descr__Titre {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 3;
  }
}
.Descr__Titre h2 {
  font-size: 36px;
  line-height: 51px;
  font-weight: 500;
  margin: 0px;
  margin-top: 25px;
}
@media (max-width: 767.98px) {
  .Descr__Titre h2 {
    font-size: 18px;
    line-height: 25px;
  }
}
.Descr__Titre p {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  margin: 0px;
}
@media (max-width: 767.98px) {
  .Descr__Titre p {
    font-size: 14px;
  }
}
.Descr__Person {
  grid-row-start: 1;
  grid-column-start: 4;
  grid-row-end: 2;
  grid-column-end: 5;
  display: flex;
  margin-left: auto;
  margin-top: 25px;
  text-align: right;
}
@media (max-width: 767.98px) {
  .Descr__Person {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 2;
    margin-top: 0px;
  }
}
.Descr__Person__Name {
  margin: auto;
}
.Descr__Person__Name p {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: right;
  color: #FF6060;
  margin: 0px;
  padding-right: 5px;
}
@media (max-width: 767.98px) {
  .Descr__Person__Name p {
    font-size: 12px;
    line-height: 17px;
  }
}
.Descr__Person img {
  -webkit-clip-path: circle(60px at center);
          clip-path: circle(60px at center);
}
@media (max-width: 767.98px) {
  .Descr__Person img {
    width: 32px;
    height: 32px;
    -webkit-clip-path: circle(16px at center);
            clip-path: circle(16px at center);
  }
}
.Descr__Description {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 3;
  width: 95%;
}
@media (max-width: 767.98px) {
  .Descr__Description {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 3;
    margin: auto;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
  }
}
.Descr__Equipement {
  grid-row-start: 3;
  grid-column-start: 3;
  grid-row-end: 4;
  grid-column-end: 5;
  width: 95%;
  margin-left: auto;
}
@media (max-width: 767.98px) {
  .Descr__Equipement {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: 3;
    margin: auto;
    width: 100%;
  }
}/*# sourceMappingURL=Logement.css.map */